{% extends "base.html" %}
{% block title %}登录 {%endblock %}
{% block content %}
    <h1>登录</h1>
    {% if form.errors %}
        <p>账号密码不匹配，请重试</p>
    {% else %}
        <p>请使用下面表单登录</p>
    {% endif %}
    <div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="登录"></p>
        <a href="{% url "register" %}">注册</a>
    </form>
    </div>
{% endblock %}